@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: auto;
  padding: 12px 28px;
  width: 100%;
  background-color: rgb(233, 233, 233);
  
}

h1 {
  width: 900px;
  color: rgb(95, 95, 95);
  font-weight: 400;
  font-size: 1.3rem;
}

main {
  height: 85%;
  width: 100%;
  padding: 30px 0px 5px 12px;
  display: flex;
  justify-content: space-between;
}

ul {
  border-radius: 8px;
  border: solid 1px rgb(206, 206, 206);
  background-color: white;
  list-style: none;
  width: 60%;
}
ul li:first-child {
  border: none;
}
ul li:last-child {
  border-bottom: solid 1px rgb(206, 206, 206);
}

li {
  padding: 12px 6px;
  border-top: solid 1px rgb(206, 206, 206);
  display: flex;
  justify-content: space-between;
}

li a {
  text-decoration: none;
}

form {
  width: 25%;
  display: flex;
  margin-left: 24px;
  flex-direction: column;
}

form > div {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
h2 {
  font-weight: 300;
}
form div {
  display: flex;
  flex-direction: column;
}

form div input,
select,
textarea {
  padding: 6px 0px 6px 3px;
  border-radius: 4px;
  border: 1px solid rgb(206, 206, 206);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid black;
}

form label {
  margin-bottom: 8px;
}

form textarea {
  resize: none;
  height: 200px;
}

form button {
  width: 20%;
  padding: 3px 6px;
  color: rgb(206, 206, 206);
  background-color: white;
  color: rgb(48, 48, 48);
  border-radius: 6px;
  margin-top: 8px;
  align-self: center;
  border: 1px solid rgb(206, 206, 206);
}

form button:hover {
  border: 1px solid rgb(189, 189, 189);
  background-color: rgb(219, 219, 219);

  cursor: pointer;
}

footer {
  height: 7.3%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tachar {
  text-decoration: line-through;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  gap: 0px 24px;
}

.btn-borrar {
  color: red;
}

.btn-finalizar {
  color: rgb(130, 131, 129);
}
